.play-bar{
  background-color:rgb(34, 34, 34);  
  position: fixed;
  z-index: 10;
  margin-top:80vh;
  color: rgb(167, 160, 160);
  
}

.play-bar>.row div:nth-of-type(2) i:nth-of-type(3) {
font-size: 50px;
}

i:hover{
color: white;
}

i:onclick{
    color:green;
}

hr{
    width: 750px;
    border:5px solid grey;
    border-radius: 5px;
}

.volume hr{
    width: 70px;
    border:5px solid grey;
    border-radius: 5px;
}